<%- include("header") -%>
    <div class="box" id="heading">
        <h1><%= kindOfDay %></h1>
    </div>

    <div class="box">

        <ul>
            <% newListItems.forEach(function(item){ %>
                <form action="/delete" method="POST">
                    <div class="item">
                        <input type="checkbox" name="checkbox" value="<%=item._id%>" onchange="this.form.submit()">
                        <p><%= item.name %></p>
                    </div> 
                </form>
            <% }) %>


            <!-- <% for(var i=0; i<newListItems.length; i++){ %>
            <div class="item">
                    <input type="checkbox">
                    <p><%= newListItems[i].name %></p>
            </div>            
            <% } %>     -->
        </ul>
        <form class="" action="/" method="post">
            <input type="text" name="newItem"  placeholder="New Item" autocomplete="off">
    
            <button type="submit" name="list" value="<%=kindOfDay %>">+</button>
        </form>
    </div>
<%- include("footer") -%>